<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  对应要实现的接口-->
<mapper namespace="net.wanho.manage_cms.mapper.CmsConfigMapper">
    <resultMap id="cmsConfigMap" type="net.wano.po.cms.ext.CmsConfigExt">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="model" ofType="net.wano.po.cms.CmsConfigModel">
            <id column="key" property="key"/>
            <result column="mname" property="name"/>
            <result column="url" property="url"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>

    <select id="getCmsConfigAndModel" resultMap="cmsConfigMap">
        select c.*,m.key,m.name mname,m.url,m.value
        from cms_config c
        INNER join cms_config_model m
        on c.id = m.config_id
        where c.id=#{id}
    </select>

</mapper>